:root {
    --primary-color: #003366;
    --secondary-color: #66B2FF;
    --accent1-color: #155698;
    --accent2-color: #FFFFFF;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);

}

header, main, footer {
    width: 840;
    margin: 0 auto;
    max-width: 1000px;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: space-around;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

header nav a {
    text-decoration: none;
    color: var(--accent1-color);
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border: solid var(--secondary-color);
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

h2 {
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
.hero article {
    position: absolute;
    top: 330px;
    left: 100px;
    background-color: var(--accent2-color);
    opacity: 0.7;

}

.hero article img {
    float: right;
    width: 125px;
}

section {
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: #ddd;
}

.history img {
    width: 200px;
    height: auto;
    align-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    padding: 10px;
}

.images img {
    width: 150px;
    height: auto;
    padding: 15px;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

figure {
    text-align: center;
}

.socialmedia img {
    width: 40px;
    height: auto;
    
}

footer {
    display: grid;
    grid-template-columns: 650px 1fr;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: #ddd;
}

footer p {
    text-align: right;
}