:root {
    --primary-color: #1B3A57;
    --secondary-color: #7EC8E3;
    --accent1-color: #FF6B6B;
    --accent2-color: #F4EBD0;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);

}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: center;
}

.navigation a {
    list-style: none;
    

}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}


nav {
    background-color: white;
    padding: 10px;   
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color)
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    text-align: row-reverse;
}

.hero {
    position: relative;
}

.hero img {
    display: grid;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

h2 {
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: var(--accent1-color);
}
article {
    position: absolute;
    top: 280px;
    opacity: 0.8;
    padding: 0px;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

.socialmedia img {
    width: 30px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    
}

body img {
    width: 100px;
}

.history p, img{
    display: flex;
    flex-direction: row;

}

.adventure img{
    display: flex;
    flex-direction: row;
}


.footer p {
    display: flex;
    justify-content: center;
}